* {
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
  html,body{
    height: 100%;
  }
  .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
    
  }
  p{
    word-break:break-all
  }
  .container-fluid {
     
    .shuffling-figure {
      width: 100%;
      margin: 0 auto;
    }
  
    h1 {
      font-size: 50px;
      margin: 40px 0;
      text-align: center;
    }
  

  }
  .line {
    margin: 0 auto;
    margin-top: 120px;

    width: 30%;
    height: 1px;
    background-color: black;

  }
  .text-foot{
      text-indent: 2rem;
      margin-top: 80px;
      
  }
  .new-text{
      margin-top: 30px;
      text-indent: 3rem;
      font-weight: 500;
      border-top: 1px solid #F5F5F5;
  }
  @media screen and (max-width:653px) {
    .iframeHight{
      height:400.640px;
    }
    .text-foot{
      text-indent: 2rem;
      margin-top: 40px;
      
  }
  }

  @media screen and (max-width:894px) and  (min-width:654px) {
    .iframeHight{
      height: 400px;
    }
    
  }
  @media screen and (max-width:910px) and  (min-width:894px) {
    .iframeHight{
      height: 400px;
    }
    
  }
  @media screen and   (min-width:911px) {
    .iframeHight{
      height: 400px;
    }
    
  }
  @media screen and   (max-width:630px) {
    .iframeHead{
      height: 160px;
    }
    
  }